.vertical-nav {
    min-width: 17rem;
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    margin-top: 84px;
    font-size: larger;
}

.bts {
    border-color: white;
}

.btnli {
    align-items: center;
}